@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  color: #f2f2f2;
  font-size: min(22pt, max(14pt, calc(0.02 * 100vw)));
  box-sizing: border-box;
}

body {
  background-color: dimgray;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  margin: auto;
}

h1 {
  font-size: 2em;
  margin: 0.3em auto;
}

.gameArea {
  display: grid;
  gap: 6px;
  margin: auto;
  width: fit-content;
}

.warn {
  background-color: #3b362e;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1.0;
  font-size: 0.8em;
  padding: 0.5em;
  transition: opacity 1s;
  text-align: center;
  width: fit-content;
  border-radius: 10px;
  margin: 0.4em auto;
  min-height: 0.8em;
  height: 2em;

}

.hidden {
  opacity: 0;
}

.line {
  display: grid;
  grid-template-columns: repeat(5, 2.5em);
  gap: 6px;
  height: 2.5em;
}

.letter {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  background-color: #00000027;
  font-weight: bold;
  border-radius: 0.25em;
  font-family: Arial, sans-serif;
  user-select: none;
}

.right {
  background-color: #4d9452;
}

.misplaced {
  background-color: #c9b728;
}

.wrong {
  background-color: #3b362e;
}

.current .letter {
  background-color: transparent;
  border: 0.2em solid #00000027;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0.1em;
  margin: 1.2em auto 0;
  gap: 0.25em;
  width: min(30em, max(360px, 70%));
  min-width: 320px;
  font-size: 0.8rem;
}

.keyboard button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 3;
  background-color: #00000027;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 9%;
  user-select: none;
  height: 2.4em;
}

#kb_a {
  grid-column: 2 / span 3;
}

#kb_z {
  grid-column: 3 / span 3;
}

#kb_backspace {
  grid-column: 30 / span 3;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' x=\'0px\' y=\'0px\' viewBox=\'-50 0 220 120\' xml:space=\'preserve\'><style type=\'text/css\'>.st0{fill:none;stroke:%23FFFFFF;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}</style><path class=\'st0\' d=\'M2.5,60L40,25h72.5c1.4,0,2.6,0.6,3.5,1.5c0.9,0.9,1.5,2.2,1.5,3.5v30v30c0,1.4-0.6,2.6-1.5,3.5 s-2.2,1.5-3.5,1.5H40L2.5,60z\'/><g><line class=\'st0\' x1=\'52\' y1=\'78\' x2=\'87\' y2=\'43\'/><line class=\'st0\' x1=\'87\' y1=\'78\' x2=\'52\' y2=\'43\'/></g></svg>");
  background-repeat: no-repeat;
  background-position: center;

}

#kb_enter {
  grid-column: 25 / span 6;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' x=\'0px\' y=\'0px\' viewBox=\'-30 -30 180 180\' xml:space=\'preserve\'><style type=\'text/css\'>.cls-1{fill:none;stroke:%23FFFFFF;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}</style><path class=\'cls-1\' d=\'M106.67,4H69.33A9.36,9.36,0,0,0,60,13.33V60H13.33A9.36,9.36,0,0,0,4,69.33v37.34A9.36,9.36,0,0,0,13.33,116h93.34a9.36,9.36,0,0,0,9.33-9.33V13.33A9.36,9.36,0,0,0,106.67,4Z\'/><path class=\'cls-1\' d=\'M88,32V78.64A9.38,9.38,0,0,1,78.64,88H32\'/><path class=\'cls-1\' d=\'M32,88.07l13.2-13.2Zm0,0,13.07,13.06\'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
}